<section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter">Meu Mural</h2>
    <button routerLink="/criarPensamento" class="botao">
      Adicionar pensamento
    </button>
  </header>

  <div class="mural">
    @if (listaPensamentos().length > 0) {
      @for (pensamento of listaPensamentos(); track $index) {
        <app-pensamento [pensamento]="pensamento"></app-pensamento>
      }
    } @else {
      <div class="ff-inter sem-pensamentos">
        <p>Ainda não há pensamentos cadastrados!</p>
      </div>
    }
  </div>
</section>
